/* @font-face {
  font-family: Underground;
  font-weight: 400;
  src: url('~assets/fonts/Roboto.woff2') format('woff2'),
    url('~assets/fonts/Roboto.woff') format('woff');
} */



@font-face {
  font-family: gt-pressura;
  font-weight: 300;
  src: url('fonts/gt-pressura/gt-pressura-light.woff') format('woff'),
}
@font-face {
  font-family: gt-pressura;
  font-weight: 400;
  src: url('fonts/gt-pressura/gt-pressura-regular.woff') format('woff'),
}
@font-face {
  font-family: gt-pressura;
  font-weight: 700;
  src: url('fonts/gt-pressura/gt-pressura-bold.woff') format('woff'),
}
@font-face {
  font-family: t-star-pro;
  font-weight: 700;
  src: url('fonts/t-star-pro/T-Star Pro Bold.otf') format('otf'),
}
@font-face {
  font-family: t-star-pro;
  font-weight: 400;
  src: url('fonts/t-star-pro/T-Star Pro Regular.otf') format('otf'),
}
@font-face {
  font-family: chapeau;
  font-weight: 400;
  src: url('fonts/chapeau/Chapeau-Regular.otf') format('otf'),
}
